.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  text-align: center;
  background-color: #282c34;
  min-height: 2em;
  height: 5vh;
  width: 100vw;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content {
  flex-shrink: 0;
  width: 100%;
  height: auto;
}
