.App {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App-header {
  display: flex;
  /* Align text vertically */
  align-items: center;
  /* Align text horizontally */
  justify-content: center;
  background-color: #282c34;
  min-height: 2em;
  height: 5vh;
  width: 100vw;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content {
  /* flex-shrink: 0; */
  flex-grow: 1;
  width: 100%;
  min-height: 60px;
}
